<!DOCTYPE html>
	<html>

		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>

		<div class=banner>
			<nav>
				| <a href="/">Home</a>
				| <a href="/about">About</a>
				| <a href="https://github.com/aaronzlim">github.com/aaronzlim</a>
				| <a href="mailto:azl4.dev@gmail.com">azl4.dev@gmail.com</a> |

		    </nav>
		</div> <!--/.banner-->

		<body>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
		</body>

	</html>